.ug-project {
  position: absolute;
  font-family: "ZCOOL QingKe HuangYou", cursive;
  width: 1000px;
  height: fit-content;
  // background-color: blue;
  color: white;
  box-sizing: border-box;
  padding: 30px;
  // margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  .ug-project-title {
    font-size: 5em;
    margin: 10px;
  }

.text2{
  // background-color: blue;
  display: flex;
  justify-content: center;
  align-items: center;
}

  .ug-project-description {

    font-size: 2em;
    max-width: 90%;
    margin: 100px 30px;
    
    // background-color: red;
    overflow: hidden;
    
    line-break:initial;
    // padding-left: 4px;
  }
  .ug-project-slogan {
    margin: 10px;
    font-size: 2.4em;
    width: 500px;
    // margin: 20px;
  }
  .ug-project-link {
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    font-size: 1.8em;
    margin: 0px;
    color: gray;
    .ug-project-contact-border {
      color: white;
      // border: 2px solid white;
      text-decoration: underline;
      margin: 0 5px;
      width: fit-content;
      display: inline-block;
      cursor: pointer;
      padding: 4px;
      a.link{
        color: white;
      }
      &:hover{
        // background-color: white;
        a{
          color:black;
        }
      } 
    }
  }
}


.ug-trailer {
  position: absolute;
  font-family: "ZCOOL QingKe HuangYou", cursive;
  height: fit-content;
  width: 100%;
  margin-top: 20vh;

  // background-color: red;
  background-color: transparent;
  color: white;
  box-sizing: border-box;
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  
  .ug-project-title {
    font-size: 2em;
    margin: 20px;
  }
  .ug-project-you {
    font-size: 1.1em;
    margin: 20px;
  }
  .ug-project-contact {
    display: flex;
    justify-content: center;
    align-items: center;
    
    .contact-span {
      // white-space: nowrap;
      text-decoration: none;
      // border-radius: 4px;
      border: 2px solid white;
      margin: 0 5px;
      width: fit-content;
      display: inline-block;
      // justify-content: center;
      // align-items: center;
      cursor: pointer;
      padding: 4px;
      &:hover{
        background-color: white;
        a{
          
          color:black;
        }
      } 
    }


    .ug-project-contact-first {
        margin: 0px 10px;
    }
  }
}

.text{
  position: relative;
  margin-left: 10%;
  top: 30%;
  height: fit-content;
  // transform: translateY(-50%);
  // background-color: purple;
  
}

.section-1{
  
  // background-color: red;
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  height: 700px;
}
.section-2{
  // background-color: green;
  display: flex;
  width: 100%;
  height: 600px;
}

.image{
  position: relative;
  width: 50%;
  margin: 20px;
  .image-class{
    position: relative;
    display: block;
    width : desired_width;
    height: 600px;  
    left: 50%;
    transform: translateX(-50%);
  }
}

.image-2{
  position: relative;
  width: 50%;
  margin: 20px;
  .image-class{
    position: relative;
    display: block;
    width : desired-width;
    height: 600px;  
    left: 50%;
    transform: translateX(-50%);
  }
}

// @media only screen and (max-width: 1600px){
//   .ug-project {
//     font-family: "ZCOOL QingKe HuangYou", cursive;
//     color: white;
//     box-sizing: border-box;
//     padding: 30px;
//     margin-bottom: 30px;
//     display: flex;
//     justify-content: center;
//     align-content: space-between;
//     padding: 10px;
//     .ug-project-title {
//       margin: 3px;
//       font-size: 5em;
//     }
//     .ug-project-description {
//       margin: 20px;
//     }
//   }
// }


// @media only screen and (max-height: 500px){
//   .ug-trailer{
//     height: 500px;
//   }
// }

a:visited { 
  text-decoration: none; 
  color: white; 
 }