@import "./../../styles/variables.scss";

#ug-nav-bar {
  position: relative;
  display: inline-block;
  height: 100%;
  display: flex;
  // align-items:flex-start;
  justify-content: flex-start;
  width: fit-content;
  left: 4%;
  justify-content: start;
  align-items: center;
  flex-direction: row;
  
  
  .ug-nav-element {
    margin: 20px;

    position: relative;

    .ug-nav-element-icon {
      font-size: 40px;
      
    }
    .ug-nav-element-sub {
      font-size: 20px;
      font-family: "ZCOOL QingKe HuangYou", cursive;
      // font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial, sans-serif;
      // font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
      font-weight: regular;
    }
    .ug-nav-element-selected_true {
      color: #FFFFFF;
    }
    .ug-nav-element-selected_false {
      color: #a3a3a3;
      transition: color 1s;
    }
    // .ug-nav-link {
    //   text-decoration: none;
    //   .ug-nav-link-logo-true {
    //     stroke: #e90000;
    //     path {
    //       stroke: #FFFFFF;
    //     }
    //   }
    //   .ug-nav-link-logo-false {
    //     stroke: #e90000;
    //     path {
          
    //       transition: stroke 1s;
    //     }
    //     &:hover {
    //       path {
    //         stroke: #FFFFFF;
    //       }
    //     }
    //   }
    // }
  }
  .ug-nav-element-selected_false:hover {
    color: white;
  }
}

.ug-nav-link-single_container {
    height: 150px;
    width: 150px;
    z-index: -200;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    
}
