@font-face {
    font-family: "ZCOOL_QingKe_HuangYou";
    font-weight: regular;
    src: url("../assets/fonts/ZCOOL_QingKe_HuangYou/ZCOOLQingKeHuangYou-Regular.ttf");
}

body{
    background-color: black;
}