.ug-projects {
  position: absolute;
  width: 99%;
  
}

.ug-loading {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.ug-project-diashow {
  position: relative;
  width: 1000px;
  left: 50%;
  top:100px;
  
  transform: translateX(-50%);
  
}


.nav-box{
  // background-color: red;
  width: 80%;
  left: 50%;
  transform: translateX(-50%);
  position: fixed;
  align-items: center;
  justify-content: space-between;
  bottom: 20px;
  height: 50px;
  display: flex;
  align-items:center;
  flex-direction: row;
  align-content: center;
}
.nav-left{
  height:100%;
  display: flex;
  justify-content: center;
  align-items: center;
  // background-color: aqua;
  cursor: pointer;
  .nav-left-icon{
    width:30px; 
    height: 30px; 
  }
}

.nav-right{
  height:100%;
  display: flex;
  justify-content: center;
  align-items: center;
  // background-color: aqua;
  cursor: pointer;
  .nav-right-icon{
    height: 30px;
    width:30px;
    // width: 0; 
    // height: 0; 
    // border-top: 10px solid transparent;
    // border-bottom: 10px solid transparent;
    // border-left: 10px solid white;
  }
}
.ug-project-navigator {
  height: fit-content;
  width: fit-content;
  display: flex;
}

.ug-project-navigator-dot-active{
  height: 20px;
  width: 20px;
  background-color: red;
  cursor: pointer;
}

.ug-project-navigator-dot{
  // background-color: rgba(255, 255, 255, 0.137);
  height: 40px;
  width: 40px;
  // margin: 12px;
  cursor: pointer;
}

// @media only screen and (min-width: 1400px){
//   .ug-project-diashow {
//     width: 80%;
//   }
// }

// @media only screen and (min-width: 1800px){
//   .ug-project-diashow {
//     width: 1400px;
//   }
// }

// @media only screen and (max-height: 1000px){
//   .ug-projects{
//     position: fixed;
//     height: 1000px;
//   }
//   .ug-project-diashow{
//     height: 100%;
//     position: relative;
//   }
// }

// @media only screen and (min-height: 1000px ){
// }

// @media only screen and (max-width: 1200px){
//   .ug-projects{
//     width: 1200px;
//   }

//   .ug-project-diashow {
//     position: relative;
//     width: 1080px;
//   }
// }

